* {
  margin: 0;
  padding: 0;
}

main {
  background-color: #1B244A;
  width: 700px;
  margin: 0 auto;
  padding: 12px 0 36px 0;
}

.clock-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreboard-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 385px; */
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eee;
  padding-bottom: 26px;
}

.digits {
  display: flex;
  align-items: center;
  background-color: #080001;
  color: #F94F6D;
  /* height: 120px; */
  font-family: 'Cursed Timer ULiL', sans-serif;
  font-size: 96px;
  border-radius: 6px;
  white-space: pre-line;
  padding: 24px 24px 8px 24px;
}

.score {
  justify-content: flex-end;
  min-width: 180px;
}

.leader {
  height: 6px;
  width: 100%;
  margin-top: 6px;
  background-color: yellow;
  visibility: hidden;
  border-radius: 6px;
}

.team-points {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 26px;
}

.button {
  background-color: #1B244A;
  color: #9AABD8;
  border: 2px solid #9AABD8;
  border-radius: 4px;
  padding: 10px 8px 8px;
  font-family: 'Cursed Timer ULiL', sans-serif;
}

.control {
  width: 72px;
}

.period {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 24px 0 16px;
}

.controls-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 26px;
}